@font-face {
	font-family: 'Brandon thin';
	src: url('font/Brandon_thin.otf');
}

* {
	margin: 0; padding:0;
}

.navto {
	background-color: #181C1F;
	width: 100%;
	height: 75px;
	position: relative;
	z-index: 5;
}
.nav {
	max-width: 980px;
	margin: auto;
	position: relative;
	text-transform: uppercase;
	font-size: 14px;
	display: flex;
	top: 30%;
	justify-content: space-between;
}

.nav1 {
	color: white;
	font-family: 'Brandon Grotesque','brandon-grotesque',Helvetica,sans-serif;
	margin-right: 20px;
}

.navtrai img{
	margin-bottom: 10px;
}

.navphai{
	margin-top: 5px;
}

.nav2 {
	margin-left: 17px;
	color: #878F96;
	font-size: 12px;
}

.nutnav2 {
	margin-left: 17px;
	color: #878F96;
	background-color: #0B0B0B;
	border-radius: 20px;
	padding: 5px 20px;
}

.content1text1 {
	height: 100px;
	width: 93%;
	left: 5%;
	background-color: rgba(24,28,31,0.8);
	position: absolute;
	bottom: 0;
	z-index: 3;
	padding: 0px 20%;
	justify-content: space-between;
	display: flex;
	bottom: 50px;
}

.content1 {
	height: 660px;
	width: 100%;
	position: relative;
	z-index: 1;

}

.text1a {
	font-size: 30px;
	font-weight: normal;
	color: white;
	text-transform: uppercase;
	margin-top: 27px;
	display: inline-block;
}

.text1nut {
	display: block;
	width: 180px;
	text-align: center;
	background-color: white;
	border-radius: 2px;
	height: 36px;
	margin-top: 31px;
	color: #3A3A3A;
	font-size: 15px;
	padding-top: 5px;
}

video{
	position: absolute;
	width: 1700px !important;
	min-width: 1030px;
	display: block;
	left: 6%;
	bottom: -100px;
	top: 0;
}

.tabmenujs {
	background-color: #181C1F;
	position: relative;
	max-height: 609px;
	z-index: 1;
	box-sizing: border-box;
	overflow: hidden;
	margin-top: 40px;
}

.tren {
	max-height: 835px;
	bottom: 0px;
	width: auto;
}

.tabmenuto {
	width: 100%;
	height: 60px;
	background-color: #21272B;
}

.tabmenu1 {
	color: white;
}

.tab1span {
	color: #697177;
	font-size: 12px
}

.tab1span2 {
	color: white;
	font-size: 13px;
	margin-left: 10px;
}

.tab1 {
	border-left: 1px solid black;
	
	display: block;
	padding: 20px 20px;
	margin-top: -20px;
}

.detail {
	height: 644px;
	max-width: 980px;
	display: inline;
	justify-content: space-between;
}

.anh1 {
	height: 282px;
	width: 310px;
	border: 1px solid #E1E1E1;
	padding: 25px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}

.detail1 {
	display: flex;
	margin: auto;
	max-width: 1000px;
	justify-content: space-between;
	padding-bottom: 178px;
}

.detail h6 {
	text-transform: uppercase;
	text-align: center;
	padding: 70px 0 100px 0px;
}

.footer {
	height: 220px;
	width: 100%;
	background-color: #181C1F;
	position: relative;
	z-index: 1;
}

.textfooter {
	max-width: 1000px;
	margin: auto;
	display: flex;
	padding-top: 40px;
}

.cum1 {
	width: 248px;
	height: 108px;
	border-right: dashed 1px #3A3A3A;
	display: inline;
	padding-left: 25px;
}

.cum2 {
	padding-left: 25px;
}

.cum1 a{
	display: block;
	font-size: 13px;
	color: #8B939B;
}

.cum1 div{
	font-size: 14px;
	color: white;
}

.textcuoi {
	font-size: 14px;
	color: #8B939B;
}

.lastfooter {
	background-color: #0E1112;
	position: absolute;
	bottom: 0;
	z-index: 2;
	height: 50px;
	width: 100%;
}

.lastfooter2 {
	max-width: 1000px;
	margin: auto;
	display: flex;
	padding-top: 5px;
	justify-content: space-between;
	padding: 8px 25px;
}

.lastfooter2 span{
	color: #666666;
	font-size: 12px;
	text-transform: uppercase;
	padding-top: 6px;
}

.fleft a {
	font-size: 11px;
	color: #8B939B;
	text-transform: uppercase;
	margin-right: 10px;
	margin-left: 10px;
}

.fleft span{
	padding-right: 10px;
	border-right: 1px solid #3A3A3A;
	padding-top: 0px;
}

.anh2 {
	text-transform: uppercase;
	color: #3A3A3A;
	font-size: 16px;
	font-weight: bold;
	display: block;
	padding: 15px 0px 5px 0px;
}

.anh3 {
	text-transform: uppercase;
	font-size: 12px;
}